@import "variables.css";

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: var(--color-black);
  font-family: Raleway, sans-serif;
  background-color: var(--color-white);
  font-size: 20px;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 22px;
}

a {
  color: inherit;
  display: inline-flex;
  text-underline-offset: 4px;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

a {
  transition-duration: var(--transition-duration);

  &:hover {
    color: var(--color-gray);
  }
}
