@import "variables.css";
@import "utils.css";
@import "global.css";

.header {
  width: 100%;
}

.header__info {
  width: 240px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 92px 96px;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 36px;
}

.menu__list {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 7px;
  text-align: center;
  list-style-type: circle;
  list-style-position: inside;
}

.menu__item:has(.menu__link--is-active) {
  list-style-type: none;
}

.menu__link {
  font-size: 18px;
}

.menu__link--is-active {
  text-decoration: none;
}

.menu__list--column {
  list-style: none;
  flex-direction: column;
  line-height: 20px;
  transform: translateX(-12px);
}

.logo__image {
  width: 148px;
  height: 105px;
}

.hero {
  background: url("../images/cover.jpg") center/cover no-repeat;
  color: var(--color-white);
  padding-block: 165px 50px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.hero__inner {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 106px;
}

.hero__title {
  display: inline-flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.hero__title-text {
  display: inline-block;
  letter-spacing: 30px;
  line-height: 115%;
}

.hero__title-text--align-left {
  text-align: left;
}

.hero__title-text--align-center {
  text-align: center;
  padding-left: 30px;
}

.hero__title-text--align-right {
  text-align: right;
  transform: translateX(30px);
}

.hero__extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__description {
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 20px;
  line-height: 127%;
}

.hero__button {
  text-decoration: none;
  padding: 12px 32px;
  border: 1px solid var(--color-white);
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-black);
  }
}

.info {
  line-height: 135%;
}

.info__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-style: normal;
  font-size: 18px;
  line-height: 135%;
}

.info__number {
  text-decoration: underline;
}

.products {
  padding-block: calc(var(--section-padding-y-large) * 2)
    var(--section-padding-y-small);
}

.products__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.products__title {
  margin-right: auto;
  padding-left: 40px;
  text-transform: uppercase;
}

.products__main {
  margin-block: 27px 30px;
}

.products__list {
  display: flex;
  justify-content: start;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.products__card-title {
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 120%;
}

.products__card--left {
  background: url("../images/card-lot-01.jpg") center/cover no-repeat;
}

.products__card--center {
  background: url("../images/card-lot-02.jpg") center/cover no-repeat;
}

.products__card--right {
  background: url("../images/card-lot-03.jpg") center/cover no-repeat;
}

.products__card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  width: 334px;
  padding: 48px 40px;
  color: var(--color-white);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.products__card-body {
  line-height: 120%;
}

.products__extra {
  margin-right: auto;
  padding-left: 40px;
  text-decoration: underline;
  font-size: 20px;
}

.about {
  padding-block: var(--section-padding-y-small)
    calc(var(--section-padding-y-large) * 2);
}

.about__inner {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 0 47px;
  column-gap: 72px;
}

.about__logo {
  position: relative;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--color-black);
    inset: 0;
    border-radius: 50%;
  }
}

.about__logo-image {
  width: fit-content;
  position: relative;
  z-index: 1;
}

.about__main {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  width: 693px;
  padding-top: 102px;
}

.about__title {
  text-transform: uppercase;
}

.about__content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  line-height: 120%;
}

.footer {
  padding-bottom: 82px;
}

.footer__info {
  width: 264px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.socials__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  column-gap: 48px;
}

.socials__link svg {
  border-radius: 50%;

  &:hover {
    background-color: var(--color-black);
    stroke: var(--color-white);
    transition-duration: var(--transition-duration);
  }
}
