@import "variables.css";
@import "utils.css";
@import "global.css";

.header {
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 92px 96px;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 36px;
}

.header__menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 13px;
}

.header__menu-list--column {
  list-style: none;
  flex-direction: column;
  line-height: 21px;
}

.header__menu-item a {
  font-size: 18px;
  text-decoration: none;
}

.header__menu-item--rounded {
  &:hover::before {
    background-color: var(--color-black);
  }

  &::before {
    content: "";
    display: inline-flex;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid var(--color-black);
    margin-right: 13px;
    vertical-align: middle;
    transition-duration: var(--transition-duration);
  }
}

.header__menu-item--underline a {
  text-decoration: underline;
}

.logo__image {
  width: 148px;
  height: 105px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/cover.jpg") center/cover no-repeat;
  color: var(--color-white);
  padding-block: 165px 50px;
}

.hero__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 106px;
}

.hero__title {
  display: inline-flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.hero__title span {
  display: inline-block;
  line-height: 115%;
  text-align: center;
  letter-spacing: 30px;
  position: relative;
}

.hero__title span:nth-child(1) {
  margin-right: auto;
  left: -5px;
  letter-spacing: 30px;
}

.hero__title span:nth-child(2) {
  margin-inline: auto;
  left: 13px;
  letter-spacing: 24px;
}

.hero__title span:nth-child(3) {
  margin-left: auto; 
  left: 30px;
}

.hero__extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__description {
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 17px;
}

.hero__button {
  text-decoration: none;
  padding: 12px 32px;
  border: 1px solid var(--color-white);
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-black);
  }
}

.info {
  width: 240px;
}

.info__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  word-spacing: 0px;
}

.info__list a {
  text-decoration: underline;
}

.products {
  padding-block: calc(var(--section-padding-y-large) * 2)
    var(--section-padding-y-small);
}

.products__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}

.products__title {
  margin-right: auto;
  padding-left: 40px;
  text-transform: uppercase;
}

.products__main {
  margin-block: 27px 30px;
}

.products__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  column-gap: 25px;
}

.products__item {
  width: 100%;
  height: 100%;
}

.products__card-title {
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 27px;
}

.products__item:first-child .products__card {
  background: url("/images/card-lot-01.jpg") center/cover no-repeat;
}

.products__item:nth-child(2) .products__card {
  background: url("/images/card-lot-02.jpg") center/cover no-repeat;
}

.products__item:nth-child(3) .products__card {
  background: url("/images/card-lot-03.jpg") center/cover no-repeat;
}

.products__card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 596px;
  width: 334px;
  padding: 48px 40px;
  color: var(--color-white);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.products__card-body p {
  line-height: 120%;
  word-spacing: 1px;
}

.products__extra {
  margin-right: auto;
  padding-left: 40px;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 20px;
}

.about {
  padding-block: var(--section-padding-y-small)
    calc(var(--section-padding-y-large) * 2);
}

.about__inner {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 0 47px;
  column-gap: 72px;
}

.about__logo {
  position: relative;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--color-black);
    inset: 0;
    border-radius: 50%;
  }
}

.about__logo-image {
  width: fit-content;
  position: relative;
  z-index: 1;
}

.about__main {
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  width: 693px;
  padding-top: 102px;
}

.about__title {
  text-transform: uppercase;
  word-spacing: -5px;
  letter-spacing: 0px;
}

.about__content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  line-height: 24px;
  word-spacing: 3px;
}

.footer {
  padding-bottom: 82px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.socials__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  column-gap: 48px;
}

.socials__link svg {
  border-radius: 50%;

  &:hover {
    background-color: var(--color-black);
    stroke: var(--color-white);
    transition-duration: var(--transition-duration);
  }
}
