@import "variables.css";

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.container-small {
  width: 100%;
  max-width: calc(var(--container-width-small) + var(--container-padding-x-large) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x-large);
}


